extends ../layout.pug

block content
    .container.products-list       
            if products.length
                each product in products
                        .card
                            .card-image
                                img(src=product.image, alt=product.name)                            
                            .card-content
                                span.card-title.center #{product.name}   
                                p   #{product.description}
                                h5.center #{product.price} $
                                .options
                                    a(href=('/admin/delete/'+product.id)).btn-small.blue.lighten-2.dark-hover Delete
                                    a(href="/admin/edit-product/"+product.id+"?editing=true").btn-small.blue.lighten-2.dark-hover Edit product
                                
            else
                h3.center No products yet.